BITCOIN_RPC_URL=127.0.0.1:38332
BITCOIN_RPC_USER=user
BITCOIN_RPC_PASSWORD=password
BITCOIN_RPC_NETWORK=signet
BRC20_PROG_RPC_SERVER_URL=127.0.0.1:18545
BRC20_PROG_RPC_SERVER_ENABLE_AUTH=false
BRC20_PROG_RPC_SERVER_USER=user
BRC20_PROG_RPC_SERVER_PASSWORD=password
EVM_RECORD_TRACES=true
EVM_CALL_GAS_LIMIT=1000000000
FAIL_ON_BITCOIN_RPC_ERROR=true
BRC20_PROG_DB_PATH=target/db
