BITCOIN_RPC_URL=http://localhost:38332
BITCOIN_RPC_USER=user
BITCOIN_RPC_PASSWORD=password
BITCOIN_RPC_NETWORK=signet
BRC20_PROG_BALANCE_SERVER_URL=http://localhost:18546
BRC20_PROG_RPC_SERVER_URL=127.0.0.1:18545
